nav.logged-out {
	
	ul {
		text-align: right;
		list-style: none;

		li > a {
			color: $header-text;
			font-family: Raleway;
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
		}

		li > a:hover {
			color: $link;
			text-decoration: none;
		}
	}

}

nav.logged-in {
	width: 180px;
	float: right;
	top: -35px;
	position: relative;

	@media screen and (max-width: 565px ) {
		top: 0px;
	}

	@media screen and (min-width: 566px) and (max-width: 674px) {
		top: -117px
	}

	@media screen and (min-width: 675px) {
		top: -6px;
	}

	@media screen and (min-width: 992px) and (max-width: 1200px ){
		top: -35px;
	}

	.dropdown-toggle {
		font-family: Raleway!important;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		padding-top: 10px;
	}

	ul {
		text-align: right;
		
		li.dropdown {
			float: right;
		}

		li.dropdown a:focus, li.dropdown a:hover {
			color: $link;
			background-color: white;
			border-radius: 0;
			@include border-radius(12px);
		}

		li.dropdown.open a:focus {
			@include border-radius-separate(12px, 12px, 0, 0);
		}
	}
	
	li.dropdown.open .dropdown-toggle:focus:after { display: block; }

	.dropdown-toggle:after {
		content: "";
		background-image: url(../img/corners/rounded.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		height: 12px;
		width: 12px;
		position: absolute;
		left: -12px;
		bottom: 0;
		display: none;
	}

	
	ul.dropdown-menu {
		border: 0;
		box-shadow: 0 0 0 0;
		left: -52px;
		top: 42px;
		border-radius: 0;
		@include border-radius-separate(12px, 0, 12px, 12px);
		
		li:last-of-type a {
			@include border-radius-separate(0 ,0, 12px, 12px);
		}
	}	

}