@font-face {
    font-family: 'Raleway';
        src: url('../font/Raleway/Raleway-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
        src: url('../font/Raleway/Raleway-Medium.ttf') format('truetype');
	    font-weight: Medium;
}

@font-face {
    font-family: 'Raleway';
        src: url('../font/Raleway/Raleway-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: bold;
}

@font-face {
    font-family: 'Raleway';
        src: url('../font/Raleway/Raleway-Light.ttf') format('truetype');
        font-weight: 100;
        font-style: lighter;
}
