$main-text: #384653;
$blue: #b2d1da;
$header-text: #222c37;
$link: #6592a2;
$grey: #e7eaeb;
$light-grey: #c5c7c8;

$reguired: #c62626;

$table-border: #cfd2d3;
$table-head-border: #606b75;
$table-row: #f8f9f9;