html {	margin-top: 0!important;	}
body {
	color: $main-text;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

a {
	color: $link;
}

a:hover {
	color: $link;
}


p {
	margin-bottom: 30px;
}

h1 {
	color: $header-text;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}

h2 {
	font-size: 20px;
	font-weight: 400;
}

thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
	border: solid 1px $table-border;
}

.table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
	border: solid 1px $table-head-border;
}

th {
	background-color: $header-text;
	color: white;
	font-size: 13px;
	font-weight: 100;
	line-height: 24px;
}

.button {
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color: #a9ccd6; 
	@include background-gradient(#C5DDE4, #80AEBD);
	@include border-radius(8px);
	border: 0;
	text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.3);
	color: $main-text;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.button:hover {
	@include background-gradient($main-text, #536378);	
	color: $blue;
	text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

span.seperator {
	margin-right: 10px;
	margin-left: 10px;
}

header {
	background-color: $blue;
	border-bottom: 18px solid $main-text;
	padding-top: 31px;
	padding-bottom: 26px;

	.logo {
		width: 352px;
		float: left;
		a {	color: $header-text; }
		a:hover { color: $header-text; text-decoration: none; }
		h1 {
			margin-top: 0px;
			font-size: 30px;
			font-weight: 500;
			line-height: 36px;
		}
	}

	#search {
		float: left;
		height: 32px;
		width: 410px;
		position: relative;
		left: -155px;
		z-index: 1;

		@media screen and (max-width: 990px) {
			position: none;
			left: 0;
		}

		form {
			height: 32px;
		}

		label.screen-reader-text {
			vertical-align: top;
			height: 32px;
			color: $main-text;
			font-family: Raleway;
			font-size: 14px;
			font-weight: 500;
			line-height: 32px;
			padding-left: 16px;
			padding-right: 22px;
			@include border-left-radius (30px);
			@include linear-gradient(#F0F1F2, #D7DDDE);
		}
		#s {
			border: none;
			@include border-radius(30px);
			height: 32px;
			padding-right: 10px;
			padding-left: 10px;
			background-image: url(../img/search-black.png);
			background-position: center right;
			background-repeat: no-repeat;
			background-origin: content-box;
			
			width: 250px;
			margin-left: -16px;
		}

		#s:focus {
			background-image: none;
		}
		#searchsubmit {
			display: none;
		}
	}

	.tweet {
		margin-top: 3px;
		float: left;
		position: relative;
		left: -150px;
		z-index: 1;

		@media screen and (max-width: 990px) {
			position: none;
			left:0;
		}

		a:hover {
			opacity: 0.7;
		}
	}

}

// footer styles
footer {
	min-height: 92px;
	background-color: $grey;
	padding-top: 30px;
	border-bottom: solid 38px $main-text;
	
	nav {
		text-align: right;
	}

	li:after {
		content: "|";
		margin-left: 15px;
	}

	li:last-of-type:after {
		content: "";
		margin-left: 0;
	}

	li:last-of-type {
		padding-right: 0;
	}

	a { color: $main-text; }
	a:hover {color: $link; }

	p.copyright {
		text-align: right;
		width: 100%;
	}
}


// HOME
.home {
	.home-banner {
		background-color: #e7eaeb;
		padding-top: 30px;
		padding-bottom: 40px;

		a:hover {
			text-decoration: none;
		}

		h2 {
			color: white;
			font-size: 24px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			text-align: right;
			margin:  0;
		}

		.search-directory, .browse-projects, .available-data {
			background-color: $main-text;
			padding: 20px;
		}
		
		.search-directory {
			background-image: url(../img/search-directory-bg.png);
			background-size: cover;
			height: 292px;
			
			h2:before {
				content: "";
				display: inline-block;
				background-image: url(../img/search-white.png);
				width: 20px;
				height: 20px;
				position: relative;
				right: 11px;
			}

			.search-directory-wrapper {
				position: relative;
				bottom: 25px;
				margin-bottom: -25px;
				
				span {
					display: block;
					width: 110px;
					text-align: center;
					padding-top: 12px;
					padding-bottom: 6px;
					@include background-gradient(#F0F1F2, #EEEFF0);
					@include border-radius-separate(8px, 8px, 0, 0);
				}
				
				.form-group {
					@include background-gradient(#EEEFF0, #D7DCDE);
					@include border-radius-separate(0, 8px, 8px, 8px);
					padding-top: 20px;
					padding-bottom: 20px;

					label { 
						color: $main-text;
						font-family: Raleway;
						font-size: 16px;
						font-weight: 500;
						line-height: 24px;
						display: inline-block;
						width: 95px; 
						margin-right: 23px;
						text-align: right;
					}
					input[type="search"] {
						margin-bottom: 10px;
						width: 100%;
						max-width: 300px;
						padding-left: 10px;
						padding-right: 10px;
						border: 1px solid #c5c7c8;
					}
				}
			}
			a {		color: $blue;	}

			a:hover {	text-decoration: underline;	}

			input[type="submit"] {	
				float: right;	
				width: 91px;
				height: 32px;
				background-color: #a9ccd6; 
				@include background-gradient(#C5DDE4, #80AEBD);
				@include border-radius(8px);
				border: 0;
				text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.3);
				color: $main-text;
				font-family: Raleway;
				font-size: 16px;
				font-weight: 600;
				line-height: 24px;
			}

			input[type="submit"]:hover {
				@include background-gradient($main-text, #536378);	
				color: $blue;
				text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
			}
		}

		.browse-projects {
			margin-bottom: 20px;
			background-image: url(../img/browse-ongoing-bg.png);
			background-size: cover;
			height: 136px;
		}

		.browse-projects:hover, .available-data:hover {
			opacity: 0.8;
		}

		.available-data {
			background-image: url(../img/available-data-bg.png);
			background-size: cover;
			height: 136px;
		}
	}
	.main-content {
		padding-top: 20px;
		padding-bottom: 40px;
	}
}
// end HOME


.page-template-default, .page-template-upload-research, .search-results, .page-template-contact, .page-template-browse-researchers {
	.header {
		background-color: $grey;
		margin-bottom: 30px;
		h1 {
			font-family: Raleway;
			font-size: 40px;
			font-weight: 400;
			line-height: 24px;
			margin-top: 40px;
			margin-bottom: 40px;
			text-transform: uppercase;
		}
	}
	.main-content {
		margin-bottom: 50px;
		// FORMS
		.gform_title { color: white; font-weight: 100;}
		#gform_2 { padding-left: 20px; }
		.gform_wrapper .left_label .gfield_label {
			font-size: 16px; 
			font-weight: 400; 
			text-align: right; 
			margin-right: 35px;
		    max-width: 90px;
		}
		.gfield_required {
			color: $reguired;
		}
		.gform_wrapper .left_label input.medium, .gform_wrapper .left_label select.medium, .gform_wrapper .right_label input.medium, .gform_wrapper .right_label select.medium {
			width:296px;
			height: 32px;
		}
		.gform_wrapper .left_label textarea {
			border: 1px solid $light-grey;
		}
		.gform_footer.left_label {
			margin-bottom: 70px;
		}
		#gform_submit_button_2 {
			width: 100px;
			float: right;
			margin-right: -px;
			margin-top: 35px;
		}
		form.wpuf-form-add, #gform_wrapper_2 {
		    background-color: $main-text;
		    padding: 20px;
		}
		ul.wpuf-form, #gform_2 {
		    background-color: $grey;
		    border-radius: 8px;
		    padding-top: 20px!important;
		    li.wpuf-el {
				padding: 0;
				.wpuf-fields label {
					font-size: 13px;
					font-weight: 400;
					line-height: 24px;
				}
		    }
		    li .wpuf-label {
				text-align: right;
				padding-right: 35px;
				color: $main-text;
				label {
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
				}
			}
		}
		.wpuf-submit input[type="submit"] {
			padding: 10px;
			width: 170px;
			text-align: center;
			background-color: #a9ccd6; 
			@include background-gradient(#C5DDE4, #80AEBD);
			@include border-radius(8px);
			border: 0;
			text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.3);
			color: $main-text;
			font-family: Raleway;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;

		}
		
	}
}

// Upload Research
.page-template-upload-research {
	.upload-type-selector {
		margin-top: 28px!important;
		label {
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: $main-text;
			width: 60px;
		}
		.wpuf-fields > select.wpuf_type {
			min-width: 285px;
		}
	}
	.project {
		display:none;
		._hidden_type {display: none;}
		form:before {
			content: "PROJECT";
			color: white;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			display: block;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
	}
	.paper {
		display: none;
		._hidden_type {display: none;}
		form:before {
			content: "PAPER";
			color: white;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			display: block;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
	}
}
// End Upload research


// Notice Board
.page-template-notice-board, .post-type-archive-notice_board {
	
	.header {
		background-color: $grey;
		padding-top: 30px;
		padding-bottom: 20px;
		
		h1 {
			margin-top: 10px;
			font-size: 40px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
		}
	}

	.main-content {
		margin-top: 20px;
		a {
			h1 { color: $link; }
		}
		a:hover {
			text-decoration: none!important;
			h1 {
				color: $header-text;
			}			
		}
		img {
			margin-top: 30px;
			float: right;
			width: 155px;
			height: auto;
		}
		.notice, .border-bottom {
			margin-top: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eeeeee;
		}

		hr {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

}
// end Notice Board Archive Page

.single-notice_board {
	
	.header {
		background-color: $grey;
		padding-top: 20px;
		padding-bottom: 20px;
		.back {
			color: $link;
		}
		h1 {
			margin-bottom: 20px; 
			font-size: 24px;
			font-weight: 400;
			line-height: 24px;
		}
		img.wp-post-image {
			max-width: 285px;
			height: auto;
			float: right;
		}
	}
	
	.main-content {
		margin-top: 30px;
	}
}
// end single Notice Board


// Browse Research
.page-template-browse-research {
	.header {
		background-color: $grey;
		padding-top: 20px;
		margin-bottom: 30px;

		h1 {
			text-transform: uppercase;
			font-size: 40px;
			font-weight: 400;
			line-height: 24px;
		}
	}

	.main-content {		
		table {
			margin-top: 25px;
			border: solid 1px $table-border;
			// th {
			// 	background-color: $header-text;
			// 	color: white;
			// 	font-size: 13px;
			// 	font-weight: 100;
			// 	line-height: 24px;
			// }
			tr:nth-of-type(odd){
				background-color: $table-row;
			}
		}
	}
}

// end Browse Research

