.clearBlock{clear:both}
.WPAdvancedSearch h3{margin-bottom:2em;text-transform:uppercase;font-size:.8em}
.WPFirstSearch a{font-size:1.1em; color:#95c000;text-decoration:none}
.WPFirstSearch a:hover,.WPcommentSearch a:hover,.WPReadMoreSearch a:hover,.WPtextSearch a:hover{text-decoration:underline}
.WPSecondSearch{margin:.2em 0 .7em}
.WPdateSearch,.WPauthorSearch,.WPcategorySearch,.WPtextSearch{font-size:.8em}
.WPauthorSearch a,.WPcategorySearch a{color:#242424}
.WPauthorSearch a:hover,.WPcategorySearch a:hover{text-decoration:none}
.WPcommentSearch a{font-size:.8em;margin-left:.8em;color:#95c000;text-decoration:none;font-style:italic}
.WPnumberSearch{border:1px solid #95c000;border-radius:10px;padding:0 .5em;color:#95c000}
.WPtitleSearch{margin-right:.5em}
.WPBlockContent{margin-bottom:1em}
.WPBlockContent img {float:left;width:14%;margin-right:.5em}
.WPtextSearch a{color:#95c000;text-decoration:none}
.WPtextSearch strong{font-weight:normal}
.WPReadMoreSearch{text-align:right;margin-top:.3em}
.WPReadMoreSearch a{font-size:1.1em;color:#95c000;text-decoration:none;font-style:italic}
.WPErrorSearch{font-size:1.1em; color:#95c000}