.pagination-block {margin:1.5em 0 0 0;line-height:2em}
.pagination-block a, .pagination-block span {padding:0.2em 0.5em 0.3em}
.pagination-block a {border:1px solid #ff5000;border-radius:5px;color:#fff;background:#ff5000;text-decoration:none}
.pagination-block a:hover {border:1px solid #ff5000;background:#ff7232;color:#fff}
.pagination-block .precsuiv {font-weight:bold}
.pagination-block span.pagination-disabled {border:1px solid #ccc;border-radius:5px;color:#ccc}
.pagination-block span.pagination-current {background:#3f3f3f;border-radius:5px;border:1px solid #3f3f3f;color:#ffffff;font-weight:bold}
#imgLoading {display:none;width:220px;margin:.8em auto}
#loadMore {display:none;border-radius:5px;border:1px solid #ecf0f1;background:#3f3f3f;text-align:center;font-weight:bold;box-shadow:2px 2px 2px rgba(50,50,50,.4);color:#fff;text-decoration:none;padding:.5em;width:60%;margin:1em auto;cursor:pointer}
#loadMore:hover{background:#ff5000;}
#loadMoreIS{display:none;width:220px;height:20px;margin:10px auto}