.pagination-block {margin:1.5em 0;line-height:2em}
.pagination-block a, .pagination-block span {padding:0.2em 0.5em 0.3em}
.pagination-block a {background:#404040;color:#fff;text-decoration:none}
.pagination-block a:hover {background:#8b8b8b;color:#fff}
.pagination-block .precsuiv {font-weight:bold}
.pagination-block span.pagination-disabled {background:#ecf0f1;color:#bbb}
.pagination-block span.pagination-current {background:#ffa800;color:#fff;font-weight:bold}
#imgLoading {display:none;width:220px;margin:.8em auto}
#loadMore {display:none;border-radius:5px;border:1px solid #111;background:#404040;text-align:center;font-weight:bold;box-shadow:2px 2px 2px rgba(50,50,50,.4);color:#fff;text-decoration:none;padding:.5em;width:40%;margin:1em auto;cursor:pointer}
#loadMore:hover{background:#8b8b8b;}
#loadMoreIS{display:none;width:220px;height:20px;margin:10px auto}