.clearBlock{clear:both}
.WPAdvancedSearch h3{margin-bottom:.5em;text-transform:uppercase;font-size:.9em;background:#ff5000;padding:.5em;border-radius:5px;color:#fff}
.searchNbResults {margin-bottom:1.8em;margin-left:.4em;color:#ff5000;font-size:.9em;font-style:italic;}
.WPFirstSearch{background:url(computer.png) no-repeat left;padding-left:.6em;line-height:1.9em}
.WPFirstSearch a{color:#FF5000}
.WPFirstSearch a:hover,.WPcommentSearch a:hover,.WPReadMoreSearch a:hover,.WPtextSearch a:hover{text-decoration:none}
.WPSecondSearch{margin:.2em 0 .7em;font-style:italic}
.WPdateSearch,.WPauthorSearch,.WPcategorySearch,.WPtextSearch{font-size:.8em}
.WPauthorSearch a,.WPcategorySearch a{color:#242424}
.WPauthorSearch a:hover,.WPcategorySearch a:hover{text-decoration:none}
.WPcommentSearch{clear:both}
.WPcommentSearch a{font-size:.8em;margin-left:.8em;color:#FF5000;text-decoration:none;font-style:italic;}
.WPcommentSearch a:hover{text-decoration:underline}
.WPnumberSearch{color:#fff;padding:.3em 1.7em 0 0;font-size:.9em;float:left;text-align:center;}
.WPtitleSearch{padding:.3em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#242424}
.WPBlockContent{margin-bottom:1em}
.WPBlockContent img {float:left;width:14%;margin-right:.5em;border:1px solid #ffd6c3;padding:1px}
.WPtextSearch a{color:#FF5000;text-decoration:none}
.WPtextSearch strong{font-weight:normal}
.WPReadMoreSearch{margin-top:.3em;clear:both}
.WPReadMoreSearch a{float:right;font-size:1.1em;color:#FFF;text-decoration:none;font-style:italic;background:#ff5000;padding:.5em;border-radius:5px;border:1px solid #ff5000}
.WPReadMoreSearch a:hover{color:#FF5000;background:#fff;border:1px solid #ff5000}
.WPErrorSearch{font-size:1.1em; color:#FF5000}