
.ct-form-field {
	margin: 0 !important;
}
.ct-form-field .form-table th {
	width: 140px;
}
.ct-form-field label {
	color: #464646;
}
.ct-form-field input[type="radio"], .ct-form-field input[type="checkbox"] {
	margin: 5px 0;
	width: 20px;
}
.ct-form-field select {
	min-width: 200px;
}
.ct-form-field .ct-select-multiple {
	height: auto !important;
}
.ct-form-field p {
	margin-left: 0 !important;
}

.error{
	border: 2px solid red !important;
	background-color: #FFFFD5;
}

label.error {
	display: block;
	background: #ffd2d2;
	color: #111;
	padding: 0 1em;
	margin: 0 2em 0 0;
	border: none;
}





/* 330690-1423598014 */