
/* Content Types Admin Styles
*******************************************************************************/

.ct-wrap input[type="text"] {
	margin: 0 !important;
	width: 200;
}
.ct-wrap select {
	height: auto !important;
}
.ct-wrap-left {
	width: 47%;
	float: left;
	margin-right: 2em;
}

.ct-wrap-left .supports .description {
	display:  inline;
}
.ct-wrap-right {
	width: 47%;
	float: left;
}
.ct-table-wrap {
	-moz-border-radius:.6em .6em .6em .6em;
	border-radius:.6em .6em .6em .6em;
	border-style:solid;
	border-width:1px;
	line-height:1;
	margin-bottom:2em;
	background-color: #FFFFFF;
	border-color:#DFDFDF;
	margin:0 0 2em 0;
}

.ct-table-wrap .form-table th{
  width:30%;
}
.ct-toggle {
	padding:.7em .9em;
	background:url("../images/gray-grad.png") repeat-x left top #DFDFDF;
	cursor: pointer;
	margin: 0;
	text-shadow:1px 1px #eee;
}
.ct-list{
	float: left;
  width:30%;
}

.ct-list-cf{
	float: left;
  width:50%;
}
.form-table {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: .5em;
	padding-bottom: .5em;
	border-collapse: inherit;
}
.ct-post-type h3, .ct-taxonomy h3, .ct-custom-fields h3 {
	font-size: 1em;
}
.ct-edit-row td {
	padding-top: .8em;
	padding-bottom: .8em;
}
.ct-arrow {
	background: url("../images/menu-bits.gif") no-repeat left -109px;
	float:right;
	height:2.7em;
	width:23px
}
.ct-arrow:hover {
	background: url('../images/menu-bits.gif') no-repeat left -206px;
}
.ct-form-single-btn {
	padding: 1em 0;
}
.ct-clear {
	clear: left;
}
.ct-required {
	color: #666;
	font-style: italic;
}
.ct-tf-icons {
	padding: 1em 0 0 1em;
}
.ct-object-type {
	width: 200;
	height: inherit !important;
}
.ct-field-type-options {
	display: none;
}
.ct-capability-type-edit {
	display: inline-block !important;
}
.ct-field-description {
	width: 95%;
}
.ct-tf-icons-wrap {
	width: 7%;
}
.ct-content-types h2 {
	border-bottom:1px solid #CCCCCC;
	padding-bottom:0 ;
}
.ct-embed-code {
	max-width: 40em;
}
.updated {
	margin: 1em 1.5em 0 0;
}
.embed-code td {
	padding: .8em 0 1.6em 0 !important;
}
.embed-code-wrap {
	margin-left: 1em;
}
.toplevel_page_ct_content_types .updated {
	margin: 12px 1.5em 0 0;
}

.form-table input[type="text"],
.form-table textarea{
	width: 100%;
}

.form-table th{
	padding-left: 5px;
}


/* 330690-1423598014 */